/* Top
=========================== */
.topLinks{width:100%;background:#040d41;height:17px;font-size:11px;}
.topLinks .links-wrapper{width:993px;margin:0 auto;}
.topLinks .links-wrapper ul{float:right; margin-right:20px;}
.topLinks .links-wrapper ul li{float:left;text-align:right;color:#fff;padding:0 10px}
.topLinks .links-wrapper ul li a{color:#fff;}
.mini-cart{float:right;color:#fff;}
.mini-cart a{color:#fff;}

/* whydoyou
=========================== */
.whydoyou-block {width:719px;height:362px;margin:0px auto 10px; border: 1px solid #EAEAEA; padding-bottom: 1px;}
.whydoyou-block .block-title {background:#F1F0F0; border-bottom: 1px solid #EAEAEA;padding: 10px;text-align:left;}
.footer-block .whydoyou{}
.whydoyou-block .whydoyou li{padding:5px;float:left;width:307px;height:94px;}
.whydoyou-block .whydoyou li .wdyico{ width:90px;clear:both;text-align:center; float: left;}
.whydoyou-block .whydoyou li .itemtitle{display:block; padding-top:5px;text-align :left;}
.whydoyou-block .whydoyou li .content{display:block;padding-top:5px;color:#787777;text-align :left; padding-left:90px;}
.whydoyou-block .block-title strong span{ color:#000000!important;}

/* Slider
=========================== */
#featured-slider{width:993px;height:462px;}
#featured-slider ul.ui-tabs-nav{float:left;list-style:none;margin:0;z-index:100;width:296px;}
#featured-slider ul.ui-tabs-nav li{background:#fff; margin:0;}
#featured-slider .ui-tabs-nav li:hover, #featured-slider .ui-tabs-nav .ui-tabs-selected{background:url(../images/layout/highlighterArrow.gif);}
#featured-slider ul.ui-tabs-nav li.last { padding-right:0;}
#featured-slider .ui-tabs-panel{position:relative;margin:0;width:697px;_width:690px;_overflow:hidden;float:right;}
#featured-slider .ui-tabs-panel .slide-desc{ position:absolute; left:0; width:526px; bottom:0; color:#8a8a8a; padding:20px 110px 17px 20px; line-height:17px;}
#featured-slider .ui-tabs-panel .slide-desc h3{ font-size:20px; color:#fff; padding-bottom:3px; font-weight:normal;}
#featured-slider .ui-tabs-panel .slide-desc h3 .price{ color:#f54319; font-size:20px;}
#featured-slider .ui-tabs-panel .slide-desc a{ position:absolute; bottom:20px; right:20px; width:38px; height:38px; no-repeat 0 0;}
#featured-slider .ui-tabs-nav a{ display:block; position:relative;overflow:hidden;width:296px;height:154px;}
#featured-slider .ui-tabs-nav a strong{ font-size:21px; text-transform:uppercase; display:block; padding:5px 0;}
#featured-slider .ui-tabs-nav li:hover a, #featured-slider .ui-tabs-nav .ui-tabs-selected a{ color:#ededed;}
#featured-slider .ui-tabs-nav a img{ float:left; }
#featured-slider .ui-tabs-hide {display:none; }

/* Checkout
=========================== */
.cart .checkout-types button.btn-proceed-checkout span{background: url("../images/layout/bkg_button_2.gif") no-repeat 0 0;color: #FFFFFF; float: left;font: 19px/33px Arial,Helvetica,sans-serif;
 height: 35px; padding: 0 0 0 11px; text-align: center;text-transform: none; white-space: nowrap;}
.cart .checkout-types .btn-proceed-checkout span span{ padding: 0 9px 0 0; background: url("../images/layout/bkg_button_2.gif") no-repeat right 0;}